.title_head {
    margin-bottom: 20px;
}

.thumbnail {
    display: block;
    padding: 4px;
    background-color: #efecea;
    border: none;
    width: 25%;
}

.credits{
    margin-top:10px;
    margin-bottom:20px;
    width:100%;
    border-bottom:1px solid gray;
}

.credits_img {
    width: 30px; 
    border-radius: 10%;
    margin-right: 10px;
}
 
.img_credits {
    margin: 5px 20px 10px 0px;
    width: 10%;
}

.main_comic_img {
    margin: auto;
    display: block;
}
