@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.comic_bar {
    border-top: solid 0.01rem #e1e1e1;
    border-bottom: solid 0.01rem #e1e1e1;
}


.the-icons {
  font-size: 1.5rem;
  color: green;
}

.the-icons:focus {     
    color:black;    
}

.img_comic_home {
    border: solid 2px #000000;
    position: relative;
    width:  100%;
}
.card {
    border: none;
}

.glyphicon .glyphicon-th-list {
    color: blue;
    font-size: 20px;

}
.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: transparent;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: transparent;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border-bottom: solid 0.1rem #e1e1e1;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}