{% extends "bootstrap/base.html" %}
{% block title %}
ComicBook
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/mystyle.css') }}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='scripts/myscripts.js') }}"></script>

{% endblock %}

{% block body %}
<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">ComicBook</h1>
{% block navbar %}
<div class="well well-sm">
    <strong>lastest isssues</strong>
    <div class="btn-group">
        <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
        </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
            class="glyphicon glyphicon-th"></span>Grid</a>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="container">
    <div class="row text-center text-lg-left">
    {% for comic in comics| sort(attribute='date_added', reverse=True) %}
        <div class="col-xs-3">
            <div class="thumbnail">
                <img class="img-fluid img-thumbnail" src={{ comic['image'].original_url }} alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{ (comic['volume'].name, "#" ~ comic.issue_number, comic.name|default('', true))|join(' ') }}</h4>
                    <p class="group inner list-group-item-text">
                        {{ comic['date_added'] }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
{% endblock %}