<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">--->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/issuestyle.css') }}">
    <script src="{{ url_for('static', filename='scripts/myscripts.js') }}"></script>
</head>

<body style="background-color: #efecea;">
    <header>
        <h1 class="font-weight-light text-center text-lg-center mt-4 mb-0">ComicBook</h1>
    </header>

    <div class="container">
        <div class="row m">
            <div class="col">
                {% for i in range(credits|length) %}
                <div class="container">
                    <div class="row">
                        <h3>{{ credits[i] }}</h3>
                        <div class="h-divider" style="height:1px; width:100%; border-top:1px solid gray; ">
                        </div>
                        <div class="container">
                            <div class="row">
                                {% for name in issue[i]|sort %}
                                <div class="col-sm-6 d-flex justify-content-right align-items-center">

                                    <p>
                                        
                                        <img class="img" style="width: 30px; border-radius: 10%;" src={{ name[1] }} />
                                
                                
                                    {{ name[0] }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col">
                <div>
                    <img class="img-fluid img-thumbnail float-right" src={{ img.original_url }} />
                </div>
            </div>

        </div>
    </div>
</body>

</html>