<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/issuestyle.css') }}">
    <script src="{{ url_for('static', filename='scripts/myscripts.js') }}"></script>
</head>

<body>
    <header>
        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">ComicBook</h1>
    </header>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <h3>Characters</h3>
                        <div class="container">
                            <div class="row">
                                {% for name, img in issue[0].items() %}
                                <div class="col">
                                    <img class="img-fluid img-thumbnail" src={{ img }} />
                                </div>
                                <div class="col">
                                    <p>{{ name }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <h3>Teams</h3>
                                <div class="container">
                                    <div class="row">
                                        {% for name, img in issue[1].items() %}
                                        <div class="col">
                                            <img class="img-fluid img-thumbnail" src={{ img }} />
                                        </div>
                                        <div class="col">
                                            <p>{{ name }}</p>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <h3>Locations</h3>
                                <div class="container">
                                    <div class="row">
                                        {% for name, img in issue[2].items() %}
                                        <div class="col">
                                            <img class="img-fluid img-thumbnail" src={{ img }} />
                                        </div>
                                        <div class="col">
                                            <p>{{ name }}</p>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <h3>Concepts</h3>
                                <div class="container">
                                    <div class="row">
                                        {% for name, img in issue[3].items() %}
                                        <div class="col">
                                            <img class="img-fluid img-thumbnail" src={{ img }} />
                                        </div>
                                        <div class="col">
                                            <p>{{ name }}</p>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <h3>Objects</h3>
                                <div class="container">
                                    <div class="row">
                                        {% for name, img in issue[4].items() %}
                                        <div class="col">
                                            <img class="img-fluid img-thumbnail" src={{ img }} />
                                        </div>
                                        <div class="col">
                                            <p>{{ name }}</p>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <img class="img-fluid img-thumbnail float-right" src={{ img.original_url }} />
                        </div>
                    </div>

                </div>
            </div>
        </div>
</body>

</html>